$colors: #ef2020, #1556d9, #26a51c, #fbed14, #b51bac, #24cae3, #4e4e4e, #ff9a0a;

// Viewport
//========================================================================================
.tetris-viewport {
    position: relative;
    margin: 0 auto;
    perspective: 800px;
}

.tetris-container {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 100px;
    
    $num: 0;
    @each $color in $colors {
        .cube.block-#{$num} div {
            background-color: rgba($color, 0);
        }
        &.block-#{$num} .cube.block-#{$num} div {
            background-color: rgba($color, .8);
        }
        $num: $num + 1;
    }
}

// Cube
//========================================================================================
.cube {
    position: absolute;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
}

.cube > div {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.cube > div:first-child  {
    transform: rotateX(90deg) translateZ(25px);
}
.cube > div:nth-child(2) {
    transform: translateZ(25px);
}
.cube > div:nth-child(3) {
    transform: rotateY(90deg) translateZ(25px);
    text-align: center;
}
.cube > div:nth-child(4) {
    transform: rotateY(180deg) translateZ(25px);
}
.cube > div:nth-child(5) {
    transform: rotateY(-90deg) translateZ(25px);
}
.cube > div:nth-child(6) {
    transform: rotateX(-90deg) rotate(180deg) translateZ(25px);
}

.cube.x-1 {
    left: 50px;
}
.cube.x-2 {
    left: 100px;
}
.cube.x-3 {
    left: 150px;
}
.cube.y-1 {
    top: 50px;
}
.cube.y-2 {
    top: 100px;
}
.cube.y-3 {
    top: 150px;
}
.cube.z-1 {
    transform: translateZ(50px)
}
.cube.z-2 {
    transform: translateZ(100px)
}
.cube.z-3 {
    transform: translateZ(150px)
}

// Controls
//========================================================================================
.tetris-controls {
    height: 50px;
    text-align: center;
    margin-bottom: 150px;

    button {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        box-sizing: content-box;
        padding: 0;
        border: 5px solid #fff;
        margin-left: 10px;
        cursor: pointer;
        outline: none;

        &:first-child {
            margin-left: 0;
        }

        &.active {
            border-style: double;
        }

        $num: 0;
        @each $color in $colors {
            &.block-#{$num} {
                background-color: $color;
            }
            $num: $num + 1;
        }
    }
}
